<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>pagination</title>
</head>
<body>
    <!--block만큼 돌린다-->
    <th:block th:each="pageNumber : ${#numbers.sequence(startPage, endPage)}">
        <span th:if="${page} == ${pageNumber}" th:text="${pageNumber}" 
        style="font-weight: bold; color: red;"></span>
        <span th:unless="${page} == ${pageNumber}" th:text="${pageNumber}"></span>
    </th:block>
</body>
</html>