<html>
    <head>
        <style>
            body{
                background-color: beige;
            }
            span{
                color : rgb(250, 136, 136);
                background-color: blanchedalmond;
            }
        </style>
    </head>
    <body>
        아이디 : [[${user.userId}]]<br>
        이 름  : [[${user.userName}]]<br>
        나 이  : [[${user.userAge}]]
        <hr>
        <li th:text="${user.userId}"></li>       <!--string 값 : th-->
        <li th:text="${user.userName}"></li>
        <li th:text="${user.userAge}"></li>
        <hr>
        아이디 : <li th:text="${user.userId}"></li> 
        이 름  : <li th:text="${user.userName}"></li>
        나 이  : <li th:text="${user.userAge}"></li>
        <hr>
        아이디 : <span th:text="${user.userId}"></span> <br>
        이 름  : <span th:text="${user.userName}"></span> <br>
        나 이  : <span th:text="${user.userAge}"></span>
    </body>
</html>